body {
    color: white;
    background-color: black;
}

p {
    color: whitesmoke;
}

pre {
    color: black;
    background-color: gray;
    padding: 1em;
    margin: 2em;
    font-family: monospace;
}

code {
    color: black;
    background-color: lightgray;
    font-family: monospace;
}

div.imageCompare {
    width: 90%;
    margin: 0.25em auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: #60606060;
}

div.imageCompare > img {
    margin: 0.25em 1em 0em 1em;
}

div.netscape {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: #4c4c7a;
    background-color: white;
}